*{
    
}

#contenido{
    padding: 1rem;
    height: calc(100% - 6rem);
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1rem;
}
#cont-table{
    overflow: auto;
}

#contenido table{
    border: 1px solid gray;
    width: 100%;
}


/* Formulario */
.form {
    background-color: #e96331;
    border-radius: 20px;
    box-sizing: border-box;
    height: 40vh;
    padding: 20px;
    width: calc(100% - 1rem);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .input {
    background-color: white;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000000;
    font-size: 18px;
    height: 40px;
    outline: 0;
    padding: 4px 10px 0;
    width: 100%;
  }
  
  .submit {
    background-color: #31E963;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #2BCC57;
  }
  