body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #CC572B, #CC572B,#AF4A25); /* Cambia los colores según tu preferencia */


}
#bodyform{
  background-image: linear-gradient(to bottom, #CC572B, #CC572B,#AF4A25); /* Cambia los colores según tu preferencia */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;

}
.form {
  background-color: #E96331;
  display: block;
  padding: 1rem;
  max-width: 600px;
  width: 100vw;
  height: 70vh;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  box-shadow:  10px 10px 28px hsla(0, 0%, 0%, 0.5),
               -10px -10px 28px hsla(0, 0%, 0%, 0.5);
}

#fire {
  text-align: center;
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: white;
  font-weight: bold;

  user-select: none;
}


.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #ffffff;
  color: #000000;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;

  user-select: none;
  transition: 0.1s ease-in;
  border: none !important;
  cursor: pointer;

  &:hover{
    background: #dfdfdf;
  }

  &:active{
    transform: scale(0.95);
  }
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  user-select: none;
}

.signup-link a {
  text-decoration: underline;
}