*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#navegador{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10rem;
    background: #e96331;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    text-align: center;
}

#h-nav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: left;
}

.cont-nav{
    margin: 8%;
    width: 100%;
    text-align: left;
    margin-left: 3rem;
}
#CerrarSesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#cs{
    margin: 1rem;
    width: 100%;
    text-align: center;

}

.logo-cda{
    border: 1px solid white;
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
}

#cerrar{
    border: none;
    width: 80%;
    height: 100%;
    background: #e96331;
    user-select: none;
    &:hover{
      transform: scale(1.05);
    }
  }