
@media screen and (max-width: 460px) {
    #cont-principal{
        margin-top: 10vh;
        width: 100%;
        height: auto;
    }
    .contenido{
        margin-top: 5vh;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: repeat(3, 30%);

        margin: 0;
        padding: 0;
        width: 100vw;
        height: 84vh;
    }
    #cardtitle p{
      font-size: 1rem;   
    }
  }